@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="card" style=" margin-top: 20px">
  <div class="card-header">
<h1>Paper Scissors Rock </h1>
</div>
 <div class="card-body">
<form method="post" >  
    <div class="form-group">  
        @foreach (var choice in Model.HumanChoiceOptions)
    {
        <input type="radio" asp-for="HumanChoice" value="@choice" />@choice<br />
    }
        <div class="row">  
       @*     <label asp-for="Fah" class="col-lg-2"></label>  
            <input type="number" asp-for="Fah" class="col-lg-2" />  *@
        </div>  
        
         
        <div class="row">  
            <input type="submit" value="Submit" asp-action="Index" />  
        </div>  
    </div>  

     <label asp-for="Draw">Draw  @ViewData["Draw"]  </label>
     <label asp-for="Win">Win @ViewData["Win"]</label>
    <label asp-for="Lose">Lose @ViewData["Lose"]</label>
    

</form>   
</div>
<div class="card-footer">

<div class="row">  
            <label asp-for="Result" class="col-lg-2"></label>  
            <p>@Model.Result  </p>

           
        </div> 


</div>

 </div>
